---
import { Picture } from 'astro:assets'

type formats = 'png' | 'jpg' | 'jpeg' | 'tiff' | 'webp' | 'gif' | 'svg' | 'avif'

interface Props {
    imgMetadata: {
        src: string
        height: number
        width: number
        format: formats
    }
    alt: string
    headerHeight: number
}

const { imgMetadata, headerHeight, alt } = Astro.props

---

<header class="w-full py-4" style={`--header-height: ${headerHeight}dvh; height: var(--header-height);`}>
    <div class="relative w-full h-full rounded-md overflow-hidden bg-white-700/20">
        <Picture 
            src={imgMetadata} 
            width={imgMetadata.height}
            height={imgMetadata.width}
            formats={['avif', 'webp']} 
            fallbackFormat="jpg"
            alt={alt || ''}
            class="absolute inset-0 w-full h-full object-cover"
            loading="eager"
		/>
        <div class="relative z-10 h-full">
            <slot />
        </div>
    </div>
</header>